.DS_Store
template/Johanna Swift.jpg
template/Oliver Liam.jpg
template/paper.pdf
test.toml
paul.jpg
jude.jpg
ijimai.pdf
elena.jpg
anchal.jpg
busqueda primer párrafo.typ
circle.svg
dai.jpg
griffiths.bib
template/amail.jpg
template/Egon Stellaris.jpg
template/interstellar.jpg
template/interstellar.pdf
template/interstellar.toml
template/interstellar.typ
